# dependencies
/node_modules
/.pnp
.pnp.js

# Xcode
/ios/build
/ios/Pods
/ios/.xccheckout
/ios/DerivedData
/ios/Carthage

# Android
/android/.gradle
/android/app/build
/android/build
/android/local.properties
/android/.idea
/android/.cxx

# React Native
/coverage
/dist
/build
/docs/build
/flow-typed/
/assets/images
/assets/fonts
/assets/videos
/assets/sounds
/assets/icons

# Environment variables
.env
.env.local

# IDE-related
.vscode/
.idea/
*.iml
*.iws
*.ipr

# Miscellaneous
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*